# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
ENV/
env.bak/
venv.bak/
media/
# Django stuff:
*.log
*.pot
*.pyc
db.sqlite3   # if you were using SQLite
/staticfiles/

# Environment variables
.env

# PostgreSQL dump files (if any)
*.sql

# IDEs / editors
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

